
html,body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: var(--bk-hmtl);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root{
    --bk-hmtl: rgba(185, 185, 185, 0.26);
    --bk-menu: #0d6efd;

    --bk-color-white: #ffffff;
    --color-black: #21212198;
    --color-black-heavy: #000000;
    --color-text: #4f4f4fde;
    --color-text-out: #90908e;
    --color-button: #00998b;
    --color-menu: #32c7aa;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc00;
    --color-bk-home: #76f9bea4;
    --color-bk-home-2: #1cb7a5ab;
}