/* MIDIA SCREEN 480 DEVICE */

@media screen and (max-width:480px) {
    #menu_device {
        border: 1px solid white;

        width: 100%;
        height: 8vh;
        position: fixed;
        background-color: rgb(77, 46, 46);
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--color-menu);
        z-index: 10;
    }

    #menu_device button {
        background-color: inherit;
        border: none;
        border-left: 1px solid var(--bk-color-white);
        border-right: 1px solid var(--bk-color-white);
        height: 100%;
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease-in-out;

    }

    #menu_device button:hover {
        background-color: var(--color-button);
    }
    #menu_device button img{
        width: 7vw;
        
        
    }
    #menu_device button a{
       
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #span-menu-device {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
        bottom: 0;

        width: 100%;
        margin-bottom: 6vh;
        display: none;


    }

    #span-menu-device span {
        background-color: var(--color-black);
        color: white;
        font-size: 4vw;
        width: 25%;
        display: block;
        align-items: center;
        justify-content: center;
        display: none;
        animation-name: slide_span;
        animation-duration: 1s;
      
       

    }

  
    @keyframes slide_span {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0%);
        }
    }
      /* usado no javascript */
    @keyframes slide_span_bootom {
        0% {
            transform: translateY(0%);
        }

        100% {
            transform: translateY(100%);
        }

        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    /* PERFIL DEVICE 480*/
    #perfil-device{
        width: 80%;
        height: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
        border-radius: 0px 20px 20px 0px;
        z-index: 11;
        background-color: var(--color-separate);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        display: none;
        animation-name: slide-from-left ;
        animation-duration: 1s ;
        box-shadow: 8px 8px 1rem rgba(0, 0, 0, 0.466);
    }

    @keyframes slide-from-left {
        0%{
            transform: translateX(-100%);

        }
        100%{
            transform: translateX(0%); 
        }
       
        
    }

    @keyframes slide-from-rigth{
        from { opacity: 1; }
        to { opacity: 0; }
    }


   

   #img-perfil-device{
    border-bottom: 3px solid rgba(0, 0, 0, 0.144);
    width: 100%;
    height: 20%;
    border-radius: 0px 20px 0px 0px;
    background-color: var(--color-button);
   }
   #titulo-menu-perfil-device{
    width: 100%;
    height: 10%;
    background-color: var(--color-button);
   }
   #opcao-perfil-device{
    width: 100%;
    height: 70%;
    border: 1px solid rgba(255, 255, 255, 0.356);
    border-radius: 0px 0px 20px 0px;
    backdrop-filter: blur(20px);
   }


#btn-close-device{
 position: absolute;
 z-index: 12;
 top: 0;
 right: 0;
 width: 20vw;
 padding: 0.5rem;
 border-radius: 0px 20px 0px 0px;
 background-color: inherit;
 border: 1px solid rgba(255, 255, 255, 0.349);
}

/* opcao-perfil-device */
#opcao-perfil-device{
   
    padding: 1rem;
    
}
#opcao-perfil-icon{
 
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
  
    
}
#opcao-perfil-icon div{
  
    width: 100%;
    height: 7vh;
    display: flex; 
    align-items: center;
    gap: 5vw;
    transition: 0.6s ease-in-out;
    color: var( --color-text);
}
#opcao-perfil-icon div:hover{
    background-color: var(--color-button);
    color: var(--bk-color-white);
}
#opcao-perfil-icon img{
    width: 8vw;
}


/* rodape-menu */
#rodape-menu{
    position: absolute;
   bottom: 0;
   
   border-radius: 0px 0px 20px 0px;
   width: 100%;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1vh;

}
#rodape-menu div{
   
    width: 50%;
    display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0px 0px 20px 0px;
   gap: 3vw;
}
#rodape-menu img {
    width: 8vw;
}
}